*.iml
/ripple-android/.gradle
/ripple-android/local.properties
/ripple-android/.idea/workspace.xml
/ripple-android/.idea/libraries
/ripple-android/.DS_Store
/ripple-android/build
/ripple-android/captures
/ripple-android/.externalNativeBuild
